        <div class="panel panel-info muted">
            <div class="panel-heading">
                <h2 class="panel-title text-center">LITE</h2>
            </div>
            <div class="panel-body  text-center">
                <span class="price">$6.99</span>/month
            </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item text-center">
                <i class="icon-ok-sign"></i>
            </li>
            <li class="list-group-item text-center">
                <i class="icon-ok-sign"></i>
            </li>
            <li class="list-group-item text-center">
                <i class="icon-ok-sign"></i>
            </li>
            <li class="list-group-item text-center">
                <i class="icon-ok-sign"></i>
            </li>
            <li class="list-group-item text-center">
                <i class="icon-ok-sign"></i>
            </li>
        </ul>

            <div class="panel-footer  text-center">
                <form method="get" action="/signup">
                    <button type="submit" class="btn btn-info muted">Sign Up</button>
                </form>
            </div>
            
        </div>    

            
