<!-- BEGIN HEADER -->
<div class="front-header">
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
			
                <!-- BEGIN LOGO (you can use logo image instead of text)-->
                <a class="brand logo-v1" href="index.html">
                    <img src="assets/3rdparty/img/logo.png" id="logoimg" alt="">
                </a>
                <!-- END LOGO -->

            </div>
        </div>
    </div>                   
</div>
<!-- END HEADER -->
