{% extends "home/base_others.html" %}

{% block content %}
<div class="container min-height">
	<div class="mt50"></div>	
	<div class="inner-header bg-blue">
		<h3>Privacy Policy</h3>
	</div>
	<div class="home-tile desc">
		<p>Welcome to our website. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern SportIndia relationship with you in relation to this website.</p>
		<p>The term 'sportindia.in' refers to the owner of the website. The term 'you' refers to the user or viewer of our website.</p>
		<p>When you use sportindia.in, you allow sportindia.in to access certain information from your profile for that site. For example, sportindia.in may access and store some or all of the following information, as allowed by you and your preferences (selected while allowing access):</p>
		
		<ul type="number">
			<li>Your first and last name</li>
			<li>Your profile picture and/or its URL</li>
			<li>Your user ID number, which is linked to publicly available information such as name and profile photo</li>
			<li>The user ID numbers and other public data for your friends</li>			 
		</ul><br />
		
		<h4>Full Disclosure</h3><br />		
		<ul type="number">
			<li>The event and related information is community generated content on Sportindia and Facebook.</li>
		
			<li>Sportindia accesses only the public events from Facebook users and user's friends who use our application. Its users' responsibility to select PRIVATE option while creating events on Facebook if they don't want to list their events as public.</li>
			
			<li>This website uses cookies to monitor browsing preferences.</li>
			
			<li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
			
			<li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>		
						
			<li>Sportindia is not affiliated with Facebook and only displays the information which is publicly available.</li>
			
			<li>Crawling or scraping content posted to sportindia is strictly not allowed.</li>
		</ul>
		
	</div>
</div>
{% endblock %}

{% block page_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			HomeApp.initDashboard();
		}); 
	</script>
{% endblock %}