<!-- BEGIN FOOTER -->
<div class="footer">
		<div class="social-footer row">
			<div class="col-md-3 mt10">
				<h4>Follow us</h4>
				<ul>
					<li>
						<a href="https://www.facebook.com/pich.kokomath" target="_blank"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="https://plus.google.com/u/0/" target="_blank"><i class="fa fa-google-plus"></i></a>
					</li>
					<li>
						<a href="https://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 mt10">
				<h4>Reach us</h4>
				<ul>
					<li>
						<a href="mailto:phansreypich2015@gmail.com">sportcambodia.com</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				{% include 'snippet/copyright.html' %}				
			</div>
		</div>
</div>

<!-- END FOOTER -->
