{% extends "home/base_home.html" %}

{% block header_title %}
        Edit Profile
{% endblock %}

{% block content %}
    <div id="edit_profile" class="well form-horizontal">
        <fieldset>
            <form id="form_edit_profile" action="{{ url|safe }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ macros.field(form.email, label=("Email"), placeholder=("Enter your")+" "+("Email"), class="input-xlarge focused required") }}
                {{ macros.field(form.name, label=("Name"), placeholder=("Enter your")+" "+("Name"), class="input-xlarge focused") }}
                {{ macros.field(form.last_name, label=("Last Name"), placeholder=("Enter your")+" "+("Last Name"), class="input-xlarge focused") }}
                <div class="control-group">
                    <div class="controls">
                        <a href="{{ uri_for("edit-password") }}">Change your password</a>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Update Profile</button> <a href="{{ uri_for("delete-account") }}" class="btn btn-danger">Delete Account</a>
                </div>
            </form>
            {% if enable_federated_login %}
	            {% if used_providers %}
	                <div id="third_party_login" class="existing-accociation">
	                    <h4>Existing social association:</h4>
	                    <table class=" social-login-icons">
	                        {% for provider in used_providers %}
	                            <tr>
	                                <td><a href="#" class="social-btn social-btn-{{ provider.name }}" title="{{ provider.label }}"></a></td>
	                                {% if used_providers|length > 1 or local_account %}
                                    <td>
                                        <form id="delete_social" action="/social_login/{{ provider.name }}/delete" method="post"  provider="{{provider.name}}" >
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>&nbsp;Remove</button>
                                        </form>
                                    </td>
                                    {% endif %}
	                            </tr>
	                        {% endfor %}
	                    </table>
	                </div>
	            {% endif %}
	            {% if unused_providers %}
	                <div id="third_party_login" class="form-actions">
	                    <h4>Associate account with:</h4>
	                    <div class="social-login-icons">
	                        {% for provider in unused_providers %}
	                            <a href="{{ provider_uris[provider.name] }}" class="social-btn social-btn-{{ provider.name }}" title="{{ provider.label }}">{{ provider.label }}</a>
	                        {% endfor %}
	                    </div>
	                </div>
	            {% endif %}
            {% endif %}
        </fieldset>
    </div>

{% endblock %}

{% block mediaJS %}
<script>
    $().ready(function() {
        $("#form_edit_profile").validate({
            submitHandler: function(form) {
                    form.submit();
            },
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
        {% if country != "" %}
        $("#country").find('option[value="{{ country }}"]').attr("selected", true);
        {% endif %}
        {% if tz != "" %}
        $('#tz').find('option[value="{{ tz }}"]').attr("selected", true);
        {% endif %}
    });
</script>
{% endblock %}

