{% extends "home/base_home.html" %}

{% block content %}
<div class="login">
	<div class="content min-height margin-top-50">
	<!-- BEGIN FORGOT PASSWORD FORM -->
		<form class="forget-form" action="index.html" method="post">
			<h3 >Forget Password ?</h3>
			<p>Enter your e-mail address below to reset your password.</p>
			<div class="form-group">
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
				</div>
			</div>
			<div class="form-actions">
				<a href="/login" id="back-btn" class="btn grey">
				<i class="icon-circle-arrow-left"></i> Back
				</a>
				<button type="submit" class="btn green pull-right">
				Submit <i class="icon-circle-arrow-right"></i>
				</button>            
			</div>
		</form>
	<!-- END FORGOT PASSWORD FORM -->
	</div>
</div>
{% endblock %}
