{% extends "home/base_home.html" %}

{% block content %}
    <script>
        var RecaptchaOptions = {
            theme : 'white'
        };
    </script>

<div class="container min-height">
	<div class="login-panel panel-info">
		<div class="panel-heading">
			<h3>Password Reset</h3>
		</div>
		<div class="panel-body">
	    <form id="form_reset_password" action="{{ url|safe }}" method="post" class="well form-horizontal">
	        <fieldset>
	            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	            <div class="control-group">
	                <label class="control-label" for="email">Email:</label>
	                <div class="controls">
	                    <input class="input-xlarge focused required" name="email" id="email" type="text" placeholder="{{ ("Enter your")|safe }} {{ ("Email")|safe }}" />
	                </div>
	            </div>
	           <!--  <div class="control-group">
	                <div class="controls" id="captcha">
	                    {{captchahtml | safe}}
	                </div>
	            </div> -->
	            <div class="form-actions">
	                <button type="submit" class="btn btn-primary">Reset password</button>
	            </div>
	        </fieldset>
	    </form>
    </div>
  </div>
</div>
  
{% endblock %}

{% block mediaJS %}
    <script>
        $(document).ready(function() {
        		HomeApp.initDashboard();
            $("#form_reset_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}