{% extends "home/base_others.html" %}

{% block content %}
<div>	
	<div style="background: url({% if tc_cover %}{{ tc_cover }}{% else %}/assets/img/bg_training.jpg{% endif %}) 100% 100% no-repeat;background-size: cover;">	
	{% include 'snippet/home/breadcrumb.html' %}
	{% if is_admin_user or (user_info.key in tc.owners) %}
		<div class="actions-bar fixed-top-right pull-right white">
			<ul>
				{% if is_admin_user %}
					<li>
						Status:{% if tc.status == 2 %} Approved {% elif tc.status == 1 %} Pending {% else %} Creation {% endif %}<a href="{{ uri_for('edit-trainingcentre', business_id=tc.business_id.id(), trainingcentre_id=tc.key.id(), status=tc.status, **{'continue': continue_url}) }}" >{% if tc.status == 2 %} Deactivate {% elif tc.status == 1 %} Activate {% else %} Don't Changed {% endif %}</a>
					</li>
				{% elif user_info.key in tc.owners %}
					<li>
						Status:{% if tc.status == 2 %} Active {% elif tc.status == 1 %} Pending {% else %} Inactive {% endif %}<a href="{{ uri_for('edit-trainingcentre', business_id=tc.business_id.id(), trainingcentre_id=tc.key.id(), status=tc.status, **{'continue': continue_url}) }}" >{% if tc.status == 0 %} Enabled {% else %} Disabled {% endif %}</a>
					</li>
				{% endif %}
				<li>
					<a href="{{ uri_for('edit-trainingcentre', business_id=tc.business_id.id(), trainingcentre_id=tc.key.id(), **{'continue': continue_url}) }}" >Edit Training Centre</a>
				</li>
			</ul>
		</div>
	{% endif %}
	<div class="container">	
		<div class="page-title">
			{{ tc.name | title }}
				{% if tc.caption %}
				<h3>{{ tc.caption }}</h3>
				{% endif %}
		</div>
		<div class="page-subtitle white mb50">
			{% if tc.address.latlong %}
			<div class="formap hide">
				<div class="name">
					{{ tc.name|title }}
				</div>
				<div class="latlong">
					{{ tc.address.latlong }}
				</div>
			</div>
			{% endif %}
			<h4> {% if tc.address.line1 %}
			{{ tc.address.line1 }},
			{% endif %}
			{% if tc.address.line2 %}
			{{ tc.address.line2 }},
			{% endif %}
			{% if tc.address.locality %}
			{{ tc.address.locality }},
			{% endif %}
			{{ tc.address.city }} </h4>
		</div>
		<div class="row white mb10">
			<div class="col-md-6">
				<h4>{% if tc.contact_info.website %} {{ tc.contact_info.website }}
				<br>
				{% endif %} </h4>
			</div>
			<div class="col-md-3">
				<!--
				<div>
				{% set avg_rating = 0 %}
				{% if tc.review_stats and tc.review_stats.avg_rating %}
				{% set avg_rating = tc.review_stats.avg_rating | round | int %}
				{% endif %}
				<img src="/assets/img/bigrating-{{ avg_rating }}.png" width="60" alt=""><br>
				{{ tc.review_stats.reviews_count }} Reviews
				</div>
				-->
			</div>
			
			{% if user_info.key in tc.owners %}
				<div class="col-md-2 pull-right">
					<div class="fileUpload btn btn-default fright" id="tc_cover">
						<form id="upload_cover" action="{{ upload_cover_url }}" method="post" class="form-horizontal" enctype="multipart/form-data">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
							<input type="hidden" name="tc_id" id="tc_id" value="{{ tc.key.id() }}">
							<input type="file" name="cover_image" id="cover_image" class="upload" />
							{% if tc_cover %}							
								<span class="h6"><i class="fa fa-camera fa-sm blue"></i>&nbsp;Update Cover</span>
							{% else %}
								<span class="h6"><i class="fa fa-camera fa-sm blue"></i>&nbsp;Add Cover</span>
							{% endif %}
						</form>
					</div>
				</div>
			{% endif %}
			
			<div class="col-md-2 social-details pull-right">
				<ul>
					{% if tc.contact_info.facebook %}
					<li>
						<a href="{{ tc.contact_info.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
					</li>
					{% endif %}
					{% if tc.contact_info.gplus %}
					<li>
						<a href="{{ tc.contact_info.gplus }}" target="_blank"><i class="fa fa-google-plus"></i></a>
					</li>
					{% endif %}
					{% if tc.contact_info.twitter %}
					<li>
						<a href="{{ tc.contact_info.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
					</li>
					{% endif %}
					{% if tc.contact_info.youtube %}
					<li>
						<a href="{{ tc.contact_info.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	</div>
	<div class="container">
		<div class="row details-form">
			<form id="enquire_form" action="{{ enquire_url }}" method="post" class="form-horizontal" enctype="multipart/form-data">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
				<input type="hidden" name="enq_id" id="enq_id" value="{{ tc.key.id() }}">
				<div class="col-md-4"> 
						<input type="text" class="form-control mySelectCalendar" name="enq_date" id="enq_date" placeholder="Select a date" autocomplete="off"/>
				</div>
				<div class="col-md-4">
						<input type="text" class="form-control mySelectCalendar" name="enq_time" id="enq_time" placeholder="Select time" autocomplete="off"/>
				</div>
				<div class="col-md-4 mt7">
						{% if user_id %}
							<button type="submit" class="btn theme btn-block">Enquire Now <i class="fa fa-arrow-circle-o-right">&nbsp;</i></button>
						{% else %}
							<a href="{{ uri_for('login', **{'continue': continue_url}) }}" class="btn blue btn-block">Enquire Now <i class="fa fa-arrow-circle-o-right">&nbsp;</i></a>
						{% endif %}
				</div>
		  </form>
		</div>
			<script type="text/javascript">				 
        $('#enq_date').datepicker({
         		format: 'yyyy-mm-d',
				    autoclose: true,
				    startDate: new Date(),
				    orientation: "top auto",
				    todayHighlight: true
        });			
		    
		    $("#enq_time").datetimepicker({        
		        format: 'LT'				    
		    });
	    </script>
	    
		<div class="row">	
				<div class="col-md-8">
					<div class="inner-header bg-blue"><h3>Description</h3></div>
					<div class="home-tile scroller" style="min-height: 200px; max-height: 500px">
						<p>{{ tc.description | safe }}</p>
					</div>
					
					<!--<div class="row">
							<div class="col-md-8">
								<p>
									{{ tc.description }}
								</p>
							</div>
							<div class="col-md-4 bg-lgrey">
								<h4>Facilities</h4>
									<ul>
									 <li>Pool</li> 
									 <li>Kitchen </li>
									 <li>Free parking on premises</li>
									 <li>Doorman</li>
									 <li>Gym </li>
									 <li>Hot Tub</li>
									 <li>Shampoo</li>
									 <li>Indoor Fireplace</li>
									 <li>Buzzer/Wireless Intercom</li>
									 <li>Breakfast </li>
									 <li>Family/Kid Friendly</li> 
	 								</ul> 							
							</div>
						</div>-->			
		
					<!--{% if media %}
					<div id="myCarousel" class="carousel slide mt20">
						<!-- Carousel items ->
						<div class="carousel-inner">
							{% for pic in media %}
							<div class="item {% if loop.index == 1 %} active {% endif %}">
								<img src="{{ pic.url }}" alt="">
<!--
								<div class="carousel-caption">
									<p>
										{{ pic.name }}
									</p>
								</div>
->
							</div>
							{% endfor %}
						</div>
						<!-- Carousel nav ->
						{% if media|length > 1 %}
						<a class="carousel-control left" href="#myCarousel" data-slide="prev"> <i class="fa fa-angle-left"></i> </a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next"> <i class="fa fa-angle-right"></i> </a>
						{% endif %}
					</div>				
					{% endif %}-->
													
					<div class="inner-header bg-blue">
						<h3>Gallery</h3>
					</div>
					<div class="home-tile row" style="min-height: 200px;">
						{% if current_media %}
							{% for photo in current_media %}
							<div class="col-md-3">
								<div class="mix-inner pg-item">							
									<div class="pg-item-image" id="links">									
										<a href="{{ photo.url }}" title="{% if photo.name %}{{ photo.name }}{% endif %}" data-gallery><img src="{{ photo.url }}" class="fhimg" style="max-width: 100%;height: auto;" /></a>										
									</div>
									{% if photo.name %}
										<div class="pg-item-text bg-white">
											<div class="title black">{{ photo.name }}</div>
										</div>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						{% endif %}
					</div>
					{% include 'snippet/home/gallery_modal_dialog.html' %}
					
<!--
					<div class="inner-header bg-blue"><h3>Availability</h3></div>
					<div class="home-tile">
						<div id="calendar"></div>
					</div>
-->
				</div>
				<!-- RIGHT INFO -->
				<div class="col-md-4">
				<!-- END OF RIGHT INFO -->
					<div class="inner-header right bg-blue"><h3>Map</h3></div>
					<div class="home-tile right right-div ">
						<div id="details-map"></div>
					</div>
					
					<div class="inner-header right bg-blue"><h3>Contact</h3></div>
					<div class="home-tile right right-div ">
						<div class="row">
							{% if tc.contact_info %}
								{% if tc.contact_info.person_name %}
									<div class="col-md-2">Name:</div>
									<div class="col-md-10">
									{% set i = 0 %}
									{% for name in tc.contact_info.person_name %}
									  {% set i = i+1 %}
									    {% if i > 1 %}, {% endif %}{{ name|title }}
									{% endfor %}
									</div>
								{% endif %} <br />
								{% if tc.contact_info.phone %}
									<div class="col-md-2">Phone:</div>
									<div class="col-md-10">
									{% set i = 0 %}
									{% for phone in tc.contact_info.phone %}
									  {% set i = i+1 %}
									    {% if i > 1 %}, {% endif %}{{ phone }}
									{% endfor %}
									</div>
								{% endif %}
							{% endif %}
						</div>
					</div>
					
					<div class="inner-header right bg-blue"><h3>Reviews</h3></div>
					<div class="home-tile right">
						<div>No reviews yet.</div>
<!--
						<div>
							<i class="fa fa-quote-left"></i>
							<p class="opensans size16 grey2">It was very comfortable to stay and staff were pleasant and welcoming.<br/>
							<span class="lato lblue bold size13"><i>by Ellison from United Kingdom</i></span></p> 
						</div>
						<div>
							<i class="fa fa-quote-left"></i>
							<p class="opensans size16 grey2">It was very comfortable to stay and staff were pleasant and welcoming.<br/>
							<span class="lato lblue bold size13"><i>by Ellison from United Kingdom</i></span></p> 
						</div>
-->
					</div>
					
<!--
					<div class="inner-header right bg-blue "><h3>Nearby Training Centres</h3></div>
					<div class="home-tile right">
						<p>to fill</p>
					</div>
-->
				</div>
			</div>
			<!-- END OF container-->
	</div>	
</div>
<!-- END OF CONTENT -->
{% endblock %}

{% block page_js %}    
  <script type="text/javascript">
  	var $upload_file = $('#cover_image');
	  var $upload_form = $('#tc_cover').find('form');
	  $upload_file.on('change', function() { 
	  		$upload_form.submit();
	  });
	  
		$(document).ready(function() {
			HomeApp.initDetails();
		});      
  </script>
{% endblock %}
